.conteudo-margin {
    margin-top: 55px;

    
}

.active.nav-link {
    color: #048d04 !important;
    border-bottom: 1px solid #048d04 !important;
   
}

.nav-link{
    border-bottom: 1px solid transparent;
    
    
}
h5 {
    color: #000000;
    font-weight: bold
}
p{
    color: #000000;
    font-weight: bold
    
}
