.conteudo-margin {
    margin-top: 55px;

    
}

.active.nav-link {
    color: #101110 !important;
    border-bottom: 1px solid #0c0c0c !important;
    
   
}

.nav-link{
    border-bottom: 1px solid transparent;
    
    
}
h5 {
    color: #ece80c;
    font-weight: bold
}
p{
    color: #000000;
    font-weight: bold
    
}
h2 {
    text-align: center;
    font-family: Fantasy;
    color: #0c0c0c;
}

p {
    font-family: cursive;
    text-align: center;
    color: #0c0c0c;
}
  


